<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.simg {
    vertical-align: middle;
    height: 420px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Slideshow container */
.slideshow-container {
  max-width: 1160px;
  /* height: 300px;
  width: 700px; */
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Lobster', cursive;

}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 570px) {
  /* .text {font-size: 11px}   */
  .slideshow-container,.dots{
    display: none;
  }
}
</style>
</head>
<body>


<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext"><%= movies[0].title %></div>
  <a href="../details/<%= movies[0].movieID%>">
  <img class="simg" src="https://image.tmdb.org/t/p/w500<%= movies[0].cover %>" style="width:100%">
  </a>
  <!-- <div class="text">Caption Text</div> -->
</div>

<div class="mySlides fade">
    <div class="numbertext"><%= movies[1].title %></div>
    <a href="./details/<%= movies[1].movieID%>">
    <img class="simg" src="https://image.tmdb.org/t/p/w500<%= movies[1].cover %>" style="width:100%">
    </a>
  <!-- <div class="text">Caption Two</div> -->
</div>

<div class="mySlides fade">
    <div class="numbertext"><%= movies[2].title %></div>
    <a href="../details/<%= movies[2].movieID%>">
    <img class="simg" src="https://image.tmdb.org/t/p/w500<%= movies[2].cover %>" style="width:100%">
    </a>
  <!-- <div class="text">Caption Three</div> -->
</div>

</div>
<br>

<div class="dots" style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>

</body>
</html> 
