<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <%- include('../partial/header')%>
    <main>
            <%- include('../partial/aside')%> 
            <form class = 'quiz-form' action="">
                <% quizes.forEach(quiz => { %>
                    <% quiz.forEach((question, i) => { %>
                             <h3 class="h3-question"><%= question.header %> </h3>
                            <div class="answers">
                             <% question.choises.forEach(choice => { %>
                                    <label for="<% choice %>"><%= choice %></label>
                                    <input type="radio" name = <%= `question${i}`%> value="<%= choice %>">
                             <% }) %>
                             </div>
                    <% }) %>
                <% }) %>
            </form>
    </main>
    <%- include('../partial/scripts') %>
</body>
</html>